@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
/*==============
フキダシ
===============*/
/*フレームとフォント*/
.chat {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    background-color:hsla(236,75%,5%,0.85);
    background-image:
    radial-gradient(at 40% 20%, hsla(74,100%,74%,0.33) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(149,100%,56%,0.49) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(235,80%,34%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(254,63%,47%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(225,83%,19%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(240,60%,32%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(287,69%,42%,0.71) 0px, transparent 50%);

    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.4;
    overflow: hidden;
}
/*グループ*/
.group{
    padding-top: 5px;
    break-inside: avoid;
}
/*フキダシ共通*/
.chat .fukidasi {
    position: relative;
    display: inline-block;
    margin: 8px 0 0;
    padding: 9px 14px;
    border-radius: 19px;
    overflow-wrap: break-word;
    clear: both;
    box-sizing: content-box;/*はてな用*/
    text-align: left;
}
/*フキダシ左*/
.chat .fukidasi.left {
    float: left;
    margin-left: 122px;
    background: white;
}
/*グループのときのフキダシ左*/
.chat .name + .fukidasi.left {
    margin-top: 5px;
}
/*フキダシ右*/
.chat .fukidasi.right {
    float: right;
    margin-right: 122px;
    background: white;
}
/*グループのときのフキダシ右*/
.chat .name + .fukidasi.right {
    margin-top: 5px;
}
/*名前左*/
.chat .name.left {
    clear: right;
    margin-left: 142px;
    color: rgb(255, 255, 255);
}
/*名前右*/
.chat .name.right {
    clear: right;
    margin-right: 122pt;
    color: rgb(255, 255, 255);
}
/*ユーザアイコン左*/
.chat .icon.left {
    position: absolute;
    width: 100px;
    height: 100px;
    left: -115px;
    border-radius: 50px;
}
/*ユーザアイコン右*/
.chat .icon.right {
    position: absolute;
    width: 100px;
    height: 100px;
    right: -115px;
    border-radius: 50px;
}
/*グループのときのユーザアイコン左*/
.chat .name + .left .icon {
    top: -1.8em;
}
/*グループのときのユーザアイコン左*/
.chat .name + .right .icon {
    top: -1.8em;
}
/*しっぽ共通*/
.chat .fukidasi::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 36px;
    top: -21px;
}
/*しっぽ左*/
.chat .fukidasi.left:after {
    left: -10px;
    border-radius: 18px 0 6px 18px/18px 0 1px 18px;
    box-shadow: -3px -15px 0 -5px white inset;
}
/*しっぽ右*/
.chat .fukidasi.right::after {
    right: -10px;
    border-radius: 0 18px 18px 6px/0 18px 18px 1px;
    box-shadow: inset 3px -15px 0 -5px white;
}
.chat .time.left {
    clear: right;
    color: rgb(255, 255, 255);
    font-size: 12px;
}
.chat .time.right {
    clear: left;
    color: rgb(255, 255, 255);
    font-size: 12px;
}
.stamp{
    margin-left: 50pt;
    width: 380px; 
    height: 140px;
}